/* Main */
.Main {
  padding: 50px;
}

.above-qtn-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 20px;
}

/* List of questionnaires */
.qtn-list {
  padding: 10px;

  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 25px;
  justify-content: start;
}

/* Questionnaire */
.qtn-small {
  border: 2px solid rgb(0, 0, 0, 0.75);
  border-radius: 8px;
  padding: 10px;
  box-sizing: border-box;

  background-color: rgb(211, 211, 211, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}
.qtn-small:hover {
  background-color: rgb(211, 211, 211, 0.2);
}
