/* MAIN */
.ManageQtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* FORM DIV */

.question-div {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  min-height: 100vh;
  min-width: 250px;
  padding: 20px;
}
.question-div .title {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Form */
form {
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid gray;
  border-radius: 4px;
}

/* Label */
label {
  display: block;
  font-size: 1rem;
  margin-bottom: 10px;
}

/* Textarea  */
textarea {
  width: 100%;
  min-height: 200px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid gray;
  border-radius: 4px;
  resize: vertical;
  margin-bottom: 20px;
  box-sizing: border-box;
}

/*Finish*/
.finish {
  margin: 10px;
}

/* CREATED QUESTIONS */

.created-questions {
  flex: 1 1;
  min-height: 100vh;
  min-width: 250px;
  padding: 20px;
}

.question-box .question {
  background-color: white;
  border: 2px solid gray;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 5px;
}
