/* MAIN */
.ManageQtn {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 50px;
}

/* FORM DIV */

.question-div {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  min-width: 250px;
  padding: 25px;
}
.question-div .title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.question-div .title h3 {
  padding: 0 20px;
}

/* Form for adding questions and answers */
.question-div form {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid gray;
  border-radius: 4px;
}
.question-div label {
  display: block;
  font-size: 1rem;
  margin-bottom: 10px;
}
.question-div textarea {
  width: 100%;
  min-height: 200px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid gray;
  border-radius: 4px;
  resize: vertical;
  margin-bottom: 20px;
  box-sizing: border-box;
}

/* Buttons for completing work */
.finish-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;

  padding: 20px 0;
}

/* CREATED QUESTIONS */

.created-questions {
  flex: 1 1;
  min-width: 250px;
  padding: 25px;
}

/*Question container */
.question-box {
  padding-top: 20px;
}

/* Single question */
.question-box .question {
  background-color: white;
  border: 2px solid gray;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 5px 10px 15px 10px;
}
.question-box .question .edit-buttons {
  display: flex;
  gap: 20px;

  padding-top: 15px;
}
.question-box .question button {
  padding: 5px 10px;
}

/* EDITING MODAL */
.edit-title-textarea {
  width: 250px;
}
.edit-question-textarea {
  width: 300px;
  height: 150px;
}

.edit-modal-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
