/* VIEW QUESTIONNAIRE */

/* Single question */
.view-question-overlay {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 50px;
}
.view-question {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(0, 0, 0, 0.75);
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;

  min-width: 200px;
  padding: 10px;
}

/* Slider */

.slider-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.slider-bar {
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.slider-ball {
  position: absolute;
  top: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  transition: left 0.3s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
