body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
br {
  line-height: 0;
  display: inline;
  margin: 0;
  padding: 0;
}

.custom-link {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

/* Header */
header {
  background-color: rgba(226, 205, 19);
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
header button {
  cursor: pointer;
  background-color: rgb(245, 237, 165);
  border: 2px solid rgb(0, 0, 0, 0.5);
  border-radius: 5px;
}
header button:hover {
  border-color: black;
}
.title {
  padding-left: 20px;
  padding-right: 10px;
}

/* Modal style */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}
.modal form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal form textarea {
  padding: 5px;
  font-size: 16px;
  margin-bottom: 15px;
  min-height: 60px;
  resize: vertical;
}
