/* GENERAL */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 400px;
}

br {
  line-height: 0;
  display: inline;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
  background-color: rgb(211, 211, 211, 0.75);
  border: 2px solid rgb(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
  font-size: 14px;
}
button:hover,
button:focus-visible {
  background-color: rgb(211, 211, 211, 0.2);
  border: 2px solid rgb(0, 0, 0, 0.75);
}

textarea {
  font-family: inherit;
}

.custom-link {
  cursor: pointer;
  text-decoration: none;
  color: black;
  outline: none;
}

/* HEADER */
header {
  background-color: rgba(226, 205, 19);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px 0 15px 50px;
}
header h2 a {
  padding: 10px;
  cursor: pointer;
  border: 2px solid rgb(0, 0, 0, 0.5);
  border-radius: 5px;
  margin-right: 50px;
}
header h2 .active:hover,
header h2 .active:focus-visible {
  background-color: rgb(245, 237, 165);
}
header h3 a {
  padding: 2px 5px;
}
header h3 .active:hover,
header h3 .active:focus-visible {
  background-color: rgb(245, 237, 165);
  border-radius: 5px;
}

/* MODAL STYLE */
.overlay {
  min-width: 400px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}
.modal form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal form textarea {
  padding: 5px;
  font-size: 16px;
  margin-bottom: 15px;
  min-height: 60px;
  resize: vertical;
  font-family: inherit;
}
.modal .modal-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.modal button {
  max-width: 200px;
}
/*Negative button*/
.leave {
  background-color: rgb(197, 28, 28, 0.5);
  border: 2px solid rgb(197, 28, 28, 0.75);
  padding: 10px 15px;
}
.leave:hover,
.leave:focus-visible {
  background-color: rgb(197, 28, 28, 0.2);
  border: 2px solid rgb(197, 28, 28);
}
/* Positive button */
.finish {
  background-color: rgba(47, 177, 47, 0.5);
  border: 2px solid rgb(41, 160, 41);
  padding: 10px 15px;
}
.finish:hover,
.finish:focus-visible {
  background-color: rgba(47, 177, 47, 0.2);
  border: 2px solid rgb(41, 160, 41);
}
